.about-us {
  min-height: 416px;
  background-image: url("../img/about-img_large.png");

  @media (min-resolution: 2dppx) {
    background-image: url("../img/about-img_large@2x.png");
  }

  .no-webp & {
    background-image: url("../img/about-img_large.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/about-img_large@2x.png");
    }
  }

  .webp & {
    background-image: url("../img/about-img_large.webp");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/about-img_large@2x.webp");
    }
  }
  background-position: 20.3% top;
  background-repeat: no-repeat;

  @media (max-width: $medium-width) {
    min-height: 438px;
    background-position: left -2% top;
    background-size: 251px 361px;
  }

  @media (max-width: $small-width) {
    background-image: none;

    .webp &,
    .no-webp & {
      background-image: none;
    }
  }
}

.about-us__wrapper {
  padding: 0 9% 0 304px;

  @media (max-width: $medium-width) {
    padding: 0 0 0 26%;
  }

  @media (max-width: $small-width) {
    padding: 6px 0 62px;
  }
}

.about-us__text {
  height: min-content;
  margin: 0 0 20px;

  &:last-of-type {
    margin-bottom: 40px;
  }

  @media (max-width: $small-width) {
    margin-bottom: 38px;

    &:last-of-type {
      margin-bottom: 30px;
    }
  }
}

.about-us__text-element {
  &--medium-width {
    display: none;

    @media (max-width: $medium-width) {
      display: inline;
    }
  }

  &--large-width-only {
    @media (max-width: $medium-width) {
      display: none;
    }
  }
}

.about-us h2 {
  margin: 0 0 20px;

  @include second-font-400;
  font-size: 36px;
  line-height: 51px;

  @media (max-width: $medium-width) {
    font-size: 32px;
    line-height: 45px;
    margin-bottom: 26px;
  }

  @media (max-width: $small-width) {
    margin-bottom: 20px;
    font-size: 28px;
    line-height: 40px;
  }
}

.about-us__button {
  @media (max-width: $small-width) {
    font-size: 14px;
    line-height: 16px;
  }
}
