.feedback {
  @include display-flex-wrap;
  justify-content: flex-end;
  background-color: $accent-main;

  @media (min-width: $large-width-only) {
    background-image:
      url("../img/feedback-img-bg.png"),
      url("../img/feedback-bg.svg");
    background-size: auto, 2065px 764px;
    background-position: right 1056px top 160px, left 50% top -60px;
    background-repeat: no-repeat;
  }

  @media (max-width: $medium-width) {
    justify-content: flex-start;
  }
}

.feedback__wrapper {
  padding: 90px 8.5% 110px;

  @media (max-width: $medium-width) {
    padding: 80px 8.5% 105px 9%;
  }
}
