.feedback {
  @include display-flex-wrap;
  justify-content: flex-end;
  background-color: $accent-main;

  @media (min-width: $large-width-only) {
    background-image:
      url("../img/feedback-img-bg.png"),
      url("../img/feedback-bg.svg");
    background-size: auto, 2065px 764px;
    background-position: right 1056px top 160px, left 50% top -60px;
    background-repeat: no-repeat;
  }

  @media (max-width: $medium-width) {
    justify-content: flex-start;
  }
}

.feedback__wrapper {
  padding: 90px 8.5% 110px;

  @media (max-width: $medium-width) {
    padding: 80px 8.5% 105px 9%;
  }

  @media (max-width: $small-width) {
    padding: 32px 0 35px;
  }
}

.feedback h2 {
  @include second-font-400;
  margin: 0 0 10px -6px;
  font-size: 36px;
  line-height: 51px;
  color: $basic-white;

  @media (max-width: $medium-width) {
    margin-bottom: 18px;
    font-size: 32px;
    line-height: 45px;
  }

  @media (max-width: $small-width) {
    margin: 0 0 14px;
    font-size: 28px;
    line-height: 40px;
  }
}
