.footer {
  @include display-flex-wrap;
  position: relative;
  padding-top: 65px;

  

  @media (max-width: $medium-width) {
    padding-top: 20px;
    justify-content: space-between;
  }
}

@media (min-width: $large-width-only) {
  .footer__copyright {
    order: 2;
  }
}

.footer__logo {
  position: absolute;

  @media (max-width: $medium-width) {
    position: relative;
  }
}

.footer__social {
  padding: 106px 0 54px;
  width: 25%;

  @media (max-width: $medium-width) {
    width: max-content;
    padding: 0;
    margin: auto 0 34px;
  }
}

.footer__nav {
  width: 50%;
  box-sizing: border-box;
  padding: 0 70px 54px;

  @media (max-width: $medium-width) {
    padding: 38px 0 36px;
  }
}

.footer__office {
  width: 25%;
  padding: 0 0 54px 20px;
  box-sizing: border-box;

  @media (max-width: $medium-width) {
    width: 50%;
    padding: 38px 10px 36px 14px;
  }
}

.footer__copyright {
  @include display-flex-wrap;
  justify-content: space-between;
  width: 57.5%;
  min-height: 52px;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $basic-dark-opacity-05;

  &--move {
    width: 32.5%;
    margin-right: 10%;
  }

  @media (max-width: $medium-width) {
    width: 100%;
    justify-content: space-between;
    padding-top: 10px;
    box-sizing: border-box;

    &--move {
      width: 32.5%;
      padding-top: 3px;
      margin: auto auto 25px;

      span:first-of-type {
        display: none;
      }
    }
  }
}

.footer__copyright span {
  @include display-flex-wrap;
  align-content: center;
}

.footer h2 {
  margin: 0 0 30px;

  @include second-font-400;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $basic-dark;

  @media (max-width: $medium-width) {
    margin-bottom: 26px;
  }
}
