.form-feedback {
  @include display-flex-wrap;
  justify-content: space-between;
  max-width: 570px;

  @media (max-width: $medium-width) {
    max-width: 100%;
  }
}

.form-feedback fieldset {
  margin: 0;
  padding: 0;
  color: $basic-white;
  border: none;
}

.form-feedback legend {
  margin: 0 0 52px;

  @media (max-width: $small-width) {
    margin-bottom: 24px;
  }
}

.form-feedback ul {
  @include reset-list;
  @include display-flex-wrap;
}

.form-feedback li {
  width: 48%;
  min-height: 50px;
  margin-bottom: 39px;

  @media (max-width: $medium-width) {
    margin-bottom: 44px;
  }

  @media (max-width: $small-width) {
    width: 100%;
    margin-bottom: 32px;
  }

  &:not(:nth-child(2n+2)) {
    margin-right: 4%;
  }

  &:last-child {
    width: 100%;
    margin-right: 0;

    @media (max-width: $small-width) {
      margin-bottom: 26px;
    }
  }
}

.form-feedback input {
  width: 100%;
  min-height: 50px;
  padding: 0 0 0 16px;
  box-sizing: border-box;

  @include main-font;
  font-size: 16px;
  line-height: 22px;
  color: $basic-white;
  background-color: $basic-white-opacity01;
  border: 1px solid transparent;

  &::placeholder {
    @include main-font;
    font-size: 16px;
    line-height: 22px;
    color: $basic-white;
  }
}

.form-feedback textarea {
  width: 100%;
  min-height: 154px;
  padding: 10px 16px;
  box-sizing: border-box;

  @include main-font;
  font-size: 16px;
  line-height: 22px;
  color: $basic-white;
  background-color: $basic-white-opacity01;
  border: 1px solid transparent;
  resize: none;

  @media (max-width: $medium-width) {
    width: 100%;
  }

  @media (max-width: $small-width) {
    min-height: 104px;
  }

  &::placeholder {
    @include main-font;
    font-size: 16px;
    line-height: 22px;
    color: $basic-white;
  }
}

.form-feedback__button {
  width: 48%;

  @media (max-width: $small-width) {
    width: 100%;
    margin-bottom: 26px;
  }
}

.form-feedback__agreement {
  width: 40%;

  @media (max-width: $small-width) {
    width: 100%;
    padding-left: 34px;
  }
}
