.nav {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    left: -85.5%;
    bottom: 0;
    width: 100vw;
    height: 1px;
    background-color: $footer-dec-opacity-02;
  }

  @media (max-width: $medium-width) {
    &::after {
      left: -25px;
    }

    &::before {
      content: "";
      position: absolute;
      left: -25px;
      top: 0;
      width: 100vw;
      height: 1px;
      background-color: $footer-dec-opacity-02;
    }
  }

  @media (max-width: $small-width) {
    &::after,
    &::before {
      left: -15px;
    }
  }
}

.nav ul {
  @include reset-list;
  column-count: 2;
  column-gap: 50px;
  width: 100%;
  color: $basic-dark-opacity-05;

  @media (max-width: $medium-width) {
    column-count: 1;
  }

  @media (max-width: $small-width) {
    width: 95%;
    padding-top: 4px;
  }
}

.nav li {
  width: 100%;

  @media (max-width: $medium-width) {
    min-height: 25px;
  }
}
