.page-main__bg {
  background-image: url("../img/main-bg_large.svg");
  background-size: auto;
  background-position: left 50% top -30px;
  background-repeat: no-repeat;

  @media (max-width: $medium-width) {
    background-position: left 30% top -84px;
  }

  @media (max-width: $small-width) {
    background-position: right 5.5% bottom -84%;
  }
}
