.popup-feedback {
  position: fixed;
  display: block;
  width: 100%;
  max-width: 490px;
  height: fit-content;
  max-height: 95vh;
  overflow-y: auto;
  padding: 28px 40px;
  box-sizing: border-box;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  z-index: 10;
  color: $basic-white;
  background-color: $accent-main;
}

.popup-feedback__wrapper {
  position: relative;
  padding: 0;
  height: 100%;
  overflow-y: auto;
}

.popup-feedback__close-button {
  position: absolute;
  width: 16px;
  height: 16px;
  border: none;
  background-image: url("../img/icon-popupclose.svg");
  background-color: $accent-main;
  right: 20px;
  top: 20px;
}

.popup-feedback h2 {
  margin: 0 0 10px;

  @include second-font-400;
  font-size: 28px;
  line-height: 40px;
}

.popup-feedback legend {
  width: 95%;
  background-color: $accent-main;
  margin-bottom: 35px;
}

.popup-feedback li {
  width: 100%;
  margin-bottom: 30px;
}

.popup-feedback__agreement {
  width: 80%;
  padding-left: 48px;

  & input {
    display: none;
  }

  & label {
    position: relative;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 16px;
    color: $basic-white-opacity08;
  }
}

.popup-feedback__agreement input + label {
  &::before {
    content: "";
    display: block;
    position: absolute;
    left: -35px;
    top: 2px;
    width: 16px;
    height: 16px;
    border: 1px solid $basic-white;
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    left: -30px;
    top: 8px;
    width: 26px;
    height: 26px;
    background-image: url("../img/icon-checkbox.svg");
    background-repeat: no-repeat;
  }
}

.popup-feedback input {
  padding-left: 22px;
}

.popup-feedback textarea {
  min-height: 104px;
  box-sizing: border-box;
  padding: 14px 22px;
}

.popup-feedback__button {
  width: 100%;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 16px;
}
