.service {
  background-color: $basic-dark;
}

.service__wrapper {
  padding: 90px 8.5% 127px;

  @media (max-width: $medium-width) {
    padding: 50px 0 30px;
  }
}

.service h2 {
  margin: 0 0 50px;

  @include second-font-400;
  font-size: 36px;
  line-height: 51px;
  color: $basic-white;

  @media (max-width: $medium-width) {
    font-size: 32px;
    line-height: 45px;
  }
}

.service ul {
  @include reset-list;
  @include display-flex-wrap;
  justify-content: center;

  @media (max-width: $medium-width) {
    flex-direction: column;
  }
}

.service li {
  position: relative;
  width: 31.8%;
  height: 620px;

  &:not(:last-child) {
    margin-right: 2.3%;
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 63px;
    height: 63px;
    right: 0;
    bottom: 0;
    background-color: $accent-main;
    background-image: url("../img/icon-arrow.svg");
    background-size: 16px 8px;
    background-position: center;
    background-repeat: no-repeat;
  }

  @media (max-width: $medium-width) {
    width: 100%;
    height: 256px;
    margin-bottom: 46px;
  }
}

.service__link {
  display: block;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 50px 10px 50px 50px;
  background-color: $basic-dark;
  text-decoration: none;

  @media (max-width: $medium-width) {
    padding: 40px 43px;
  }

  &--production {
    .service__link--nojs & {
      background-image: url("../img/service-img1_large.png");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/service-img1_large@2x.png");
      }
    }

    .no-webp & {
      background-image: url("../img/service-img1_large.png");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/service-img1_large@2x.png");
      }
    }

    .webp & {
      background-image: url("../img/service-img1_large.webp");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/service-img1_large@2x.webp");
      }
    }
    background-size: cover;
    background-repeat: no-repeat;

    @media (max-width: $medium-width) {
      .service__link--nojs & {
        background-image: url("../img/service-img1_medium.png");

        @media (min-resolution: 2dppx) {
          background-image: url("../img/service-img1_medium@2x.png");
        }
      }

      .no-webp & {
        background-image: url("../img/service-img1_medium.png");

        @media (min-resolution: 2dppx) {
          background-image: url("../img/service-img1_medium@2x.png");
        }
      }

      .webp & {
        background-image: url("../img/service-img1_medium.webp");

        @media (min-resolution: 2dppx) {
          background-image: url("../img/service-img1_medium@2x.webp");
        }
      }
    }

    @media (max-width: $small-width) {
      .service__link--nojs {
        background-image: url("../img/service-img1_small.png");

        @media (min-resolution: 2dppx) {
          background-image: url("../img/service-img1_small@2x.png");
        }
      }

      .no-webp & {
        background-image: url("../img/service-img1_small.png");

        @media (min-resolution: 2dppx) {
          background-image: url("../img/service-img1_small@2x.png");
        }
      }

      .webp & {
        background-image: url("../img/service-img1_small.webp");

        @media (min-resolution: 2dppx) {
          background-image: url("../img/service-img1_small@2x.webp");
        }
      }
    }
  }

  &--installation {
    .service__link--nojs & {
      background-image: url("../img/service-img2_large.png");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/service-img2_large@2x.png");
      }
    }

    .no-webp & {
      background-image: url("../img/service-img2_large.png");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/service-img2_large@2x.png");
      }
    }

    .webp & {
      background-image: url("../img/service-img2_large.webp");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/service-img2_large@2x.webp");
      }
    }
    background-size: cover;
    background-repeat: no-repeat;

    @media (max-width: $medium-width) {
      .service__link--nojs & {
        background-image: url("../img/service-img2_medium.png");

        @media (min-resolution: 2dppx) {
          background-image: url("../img/service-img2_medium@2x.png");
        }
      }

      .no-webp & {
        background-image: url("../img/service-img2_medium.png");

        @media (min-resolution: 2dppx) {
          background-image: url("../img/service-img2_medium@2x.png");
        }
      }

      .webp & {
        background-image: url("../img/service-img2_medium.webp");

        @media (min-resolution: 2dppx) {
          background-image: url("../img/service-img2_medium@2x.webp");
        }
      }
    }

    @media (max-width: $small-width) {
      .service__link--nojs & {
        background-image: url("../img/service-img2_small.png");

        @media (min-resolution: 2dppx) {
          background-image: url("../img/service-img2_small@2x.png");
        }
      }

      .no-webp & {
        background-image: url("../img/service-img2_small.png");

        @media (min-resolution: 2dppx) {
          background-image: url("../img/service-img2_small@2x.png");
        }
      }

      .webp & {
        background-image: url("../img/service-img2_small.webp");

        @media (min-resolution: 2dppx) {
          background-image: url("../img/service-img2_small@2x.webp");
        }
      }
    }
  }

  &--accessories {
    .service__link--nojs & {
      background-image: url("../img/service-img3_large.png");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/service-img3_large@2x.png");
      }
    }

    .no-webp & {
      background-image: url("../img/service-img3_large.png");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/service-img3_large@2x.png");
      }
    }

    .webp & {
      background-image: url("../img/service-img3_large.webp");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/service-img3_large@2x.webp");
      }
    }
    background-size: cover;
    background-repeat: no-repeat;

    @media (max-width: $medium-width) {
      .service__link--nojs & {
        background-image: url("../img/service-img3_medium.png");

        @media (min-resolution: 2dppx) {
          background-image: url("../img/service-img3_medium@2x.png");
        }
      }

      .no-webp & {
        background-image: url("../img/service-img3_medium.png");

        @media (min-resolution: 2dppx) {
          background-image: url("../img/service-img3_medium@2x.png");
        }
      }

      .webp & {
        background-image: url("../img/service-img3_medium.webp");

        @media (min-resolution: 2dppx) {
          background-image: url("../img/service-img3_medium@2x.webp");
        }
      }
    }

    @media (max-width: $small-width) {
      .service__link--nojs & {
        background-image: url("../img/service-img3_small.png");

        @media (min-resolution: 2dppx) {
          background-image: url("../img/service-img3_small@2x.png");
        }
      }

      .no-webp & {
        background-image: url("../img/service-img3_small.png");

        @media (min-resolution: 2dppx) {
          background-image: url("../img/service-img3_small@2x.png");
        }
      }

      .webp & {
        background-image: url("../img/service-img3_small.webp");

        @media (min-resolution: 2dppx) {
          background-image: url("../img/service-img3_small@2x.webp");
        }
      }
    }
  }
}

.service h3 {
  width: 50%;
  margin: 0;

  @include second-font-400;
  font-size: 20px;
  line-height: 30px;
  color: $basic-white;

  @media (max-width: $medium-width) {
    width: 25%;
  }
}
