@mixin main-font {
  font-family: "PT Mono", "Courier New", monospace;
  font-weight: 400;
}

@mixin second-font-400 {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 400;
}

@mixin second-font-700 {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 400;
}

@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin display-flex-wrap {
  display: flex;
  flex-wrap: wrap;
}
