//colors
$basic-black: #000000;
$basic-white: #ffffff;
$basic-content: #666666;
$basic-dark: #1b2d37;
$accent-main: #00b2ff;
$border-light: #ebebeb;
$basic-light: #c4c4c4;
$footer-dec: #626962;

$basic-white-opacity01: rgba(255, 255, 255, 0.1);
$basic-white-opacity08: rgba(255, 255, 255, 0.8);
$basic-light-opacity-02: rgba(196, 196, 196, 0.2);

//viewport width
$small-width: 767px;
$medium-width: 1023px;
$large-width-only: 1024px;
