//colors
$basic-black: #000000;
$basic-white: #ffffff;
$basic-content: #1f1f1f;
$basic-border: #c9ccd4;
$dark-background: #131314;
$light-background: #f6f6f6;
$accent-main: #0ad9c6;
$nav-text: #48494d;

$basic-white-opacity02: rgba(255, 255, 255, 0.2);
$basic-white-opacity05: rgba(255, 255, 255, 0.5);
$basic-white-opacity07: rgba(255, 255, 255, 0.7);
$basic-white-opacity08: rgba(255, 255, 255, 0.8);
$basic-black-opacity05: rgba(0, 0, 0, 0.5);
$basic-black-opacity07: rgba(0, 0, 0, 0.7);

//viewport width
$small-width: 767px;
$medium-width: 1023px;
$large-width-only: 1024px;
