//colors
$basic-black: #000000;
$basic-white: #ffffff;
$basic-content: #666666;
$basic-dark: #1b2d37;
$accent-main: #00b2ff;

$basic-white-opacity01: rgba(255, 255, 255, 0.1);

//viewport width
$small-width: 767px;
$medium-width: 1023px;
$large-width-only: 1024px;
